<header class="header">
    <a href="{%url 'uber:home'%}" class="logo"><h1>Uber</h1></a>

    <nav class="nav">
        <ul>
            <li><a href="{%url 'uber:sobre'%}">Sobre</a></li>
            <li><a href="{%url 'uber:servicos'%}">Serviços</a></li>
            <li><a href="{%url 'uber:contato'%}">Contato</a></li>
            <i class="far fa-user"></i>
            <li><a href="{%url 'uber:login'%}">Entrar</a></li>
            <li><a href="{%url 'uber:register'%}">Cadastrar</a></li>
        </ul>
    </nav>
    
</header>