
{%load static%}

<div class="botoes_painel">
    <a href="https://play.google.com/store/apps/dev?id=7908612043055486674&hl=pt_BR"><img src="{%static 'uber/img/google_play.svg'%}"></a>
    <a href="https://apps.apple.com/br/developer/uber-technologies-inc/id368677371"><img src="{%static 'uber/img/app_store.svg'%}"></a>
</div>
</div>
         
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/bCYqOkqxC9M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                    
                </div>