<nav class="sidenav">
    <ul>
        
        <li class="side_logo">
            <a href="{%url 'uber:home'%}"><i class="fab fa-uber"></i><span>Uber</span></a>
        </li>
        
        <!-- Ícones -->
        <li>
            <a href="{%url 'uber:servicos'%}"><i class="fas fa-th-large"></i><span>Categorias</span></a>
        </li>
        <li>
            <a href="{%url 'uber:eats'%}"><i class="fas fa-utensils"></i><span>Uber Eats</span></a>
        </li>
        <li>
            <a href="{%url 'uber:contato'%}"><i class="far fa-comments"></i><span>Comentários</span></a>
        </li>
        <li>
            <a href="{%url 'uber:contato'%}"><i class="far fa-question-circle"></i><span>Suporte</span></a>
        </li>
        <li>
            <a href="{%url 'uber:contato'%}"><i class="fas fa-star-half-alt"></i><span>Avalie-nos</span></a>
        </li>
    </ul>
</nav>
<!-- Fim Navegação Lateral -->