
{%load static%}

  {%include 'uber/parciais/head.html'%}
    
    <body>
    
        <div class="estrutura">
            
        <!-- header --> 
            {%include 'uber/parciais/header.html'%}

        <!-- menu lateral --> 
            {%include 'uber/parciais/menu_lateral.html'%}
            
            <!-- Conteúdo Principal -->
            <main class="content">
                
                <!-- Ínicio -->
                <div class="bem_vindo">
                    <div>
                        <div>
                            <h2>Contato</h2>
                            <p>Entre em contato conosco, oferecemos todo tipo de suporte aos nossos usuários, e se puder deixe
                                seu comentário e avalie-nos.
                            </p>
                        </div>
                        {%include 'uber/parciais/icons_head.html'%}

                  
                <!-- Fim Ínicio -->
                
                <!-- Suporte -->
                <div class="suporte">
                    <div class="mesclar">
                        <h3>Suporte</h3>
                        <p>Aqui você encontra nossos canais de atendimento e suporte ao usuário Uber</p>
                    </div>

                    <div class="lista_contato mesclar">
                        <ul>
                            <li>E-mail</li>
                            <li>Endereço</li>
                            <li>Endereço</li>
                        </ul>
    
                        <ul>
                            <li>suport@uber.com.br</li>
                            <li>Avenida Emílio Ribas, 1056 - Gopouva, SP</li>
                            <li>Rua Júlio Gonzalez, 132 30th Andar - Barra Funda, SP</li>
                        </ul>
                    </div>

                </div>
                <!-- Fim Suporte -->

                <!-- Comentários -->
                <div class="comentarios">
                    <div class="mesclar">
                        <h3>Comentários</h3>
                        <p>Deixe aqui o seu comentário, sugestão ou problema preenchendo o formulário abaixo
                            e nossa equipe entrará em contato com você o mais rápido possível
                        </p>
                    </div>

                    <!-- Formulário -->
                    <form class="mesclar" name="form_contato" action="#" method="POST">
                        
                        <fieldset>
                            <fieldset class="form_grupo">

                                <!-- Nome -->
                                <div class="form_campo">
                                    <label for="nome">Nome</label>
                                    <input required="required" maxlength="10" type="text" name="nome" id="nome" value="" style="width: 10em;">
                                </div>
                                
                                <!-- Sobrenome -->
                                <div class="form_campo">
                                    <label for="snome">Sobrenome</label>
                                    <input required="required" maxlength="30" type="text" name="snome" id="snome" value="" style="width: 10em;">
                                </div>
                            </fieldset>
    
                            <div class="form_campo">
                                <!-- Sexo -->
                                <label>Sexo</label>
                                <label class="checkbox">
                                    <input required="required" type="radio" name="sexo" value="masculino"> Masculino
                                </label>
                                <label class="checkbox">
                                    <input required="required" type="radio" name="sexo" value="feminino"> Feminino
                                </label>
                            </div>
                            
                            <!-- E-mail -->
                            <div class="form_campo">
                                <label for="email">E-mail</label>
                                <input required="required" maxlength="30" type="email" name="email" value="" style="width: 20em;">
                            </div>
    
                            <fieldset class="form_grupo">
                                <!-- Cidade -->
                                <div class="form_campo">
                                    <label for="cidade">Cidade</label>
                                    <input required="required" maxlength="20" type="text" name="cidade" value="" style="width: 10em;">
                                </div>

                                <!-- Estado -->
                                <div class="form_campo">
                                    <label for="estado">Estado</label>
                                    <select required="required" name="estado" id="estado">
                                        <option value="">-----</option>
                                        <option value="AC">AC</option>
                                        <option value="AM">AM</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MT">MT</option>
                                        <option value="MS">MS</option>
                                        <option value="MG">MG</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PR">PR</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RS">RS</option>
                                        <option value="RO">RO</option>
                                        <option value="RR">RR</option>
                                        <option value="SC">SC</option>
                                        <option value="SP">SP</option>
                                        <option value="SE">SE</option>
                                        <option value="TO">TO</option>
                                    </select>
                                </div>
                            </fieldset>
                            
                            <!-- Mensagem -->
                            <div class="form_campo">
                                <label for="mensagem">Mensagem</label>
                                <textarea required="required" rows="6" id="mensagem" name="mensagem" style="width: 20em;"></textarea>
                            </div>
                            
                            <!-- Newsletter -->
                            <div class="form_campo">
                                <label for="newsletter">Newsletter</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="newsletter" value="marcado" checked> 
                                    Gostaria de receber a Newsletter da Uber?
                                </label>
                            </div>

                            <!-- Avalie -->
                            <div class="form_campo">
                                <label for="avalie">Avalie o nosso site (0-5)</label>
                                <input required="required" min="0" max="5" type="range" name="avalie" style="width: 20em;">
                            </div>

                            <button class="form_botao" type="submit" name="submit" onclick="validarContato()">Enviar</button>
                        </fieldset>

                    </form>
                    <!-- Fim Formulário -->
                </div>
                <!-- Fim Comentários -->
                
            </main>
            <!-- Fim Conteúdo Principal -->
            
            {%include 'uber/parciais/footer.html'%}

        </div>

        <!-- Arquivo JS -->
        <script src="js/script.js"></script>
    
    </body>
</html>