
{%load static%}

  {%include 'uber/parciais/head.html'%}
    
    <body>
    
        <div class="estrutura">
            
        <!-- header --> 
            {%include 'uber/parciais/header.html'%}

        <!-- menu lateral --> 
            {%include 'uber/parciais/menu_lateral.html'%}


            
            <!-- Conteúdo Principal -->
            <main class="content">
                
                <!-- Ínicio -->
                <div class="bem_vindo">
                    <div>
                        <div>
                            <h2>Uber Brasil</h2>
                            <p>Seja bem-vindo ao site da maior empresa de transporte privado no mercado!</p>
                        </div>

                        {%include 'uber/parciais/icons_head.html'%}

           
                <!-- Fim Ínicio -->
                
                <!-- Conheça-nos -->
                <div class="conheca_nos">
                    <img src="{%static 'uber/img/uber_quem_somos.jpg'%}" alt="Quem somos">
                    <div>
                        <h3>Conheça-nos</h3>
                        <p>Conheça um pouco sobre a nossa empresa, a história da Uber e seus parceiros mais próximos.</p>
                        <a href="{%url 'uber:sobre'%}">Saiba mais<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- Fim Conheça-nos-->
                
                <!-- Como funciona -->
                <div class="como_funciona bg_azul">
                    <img src="{%static 'uber/img/uber_funcionamento.jpg'%}">
                    <div>
                        <h3>Como funciona</h3>
                        <p>Saiba como utilizar os serviços que a Uber proporciona de forma rápida e prática, esclareça todas as suas dúvidas sobre o aplicativo e plataforma Uber.</p>
                        <a href="{%url 'uber:sobre'%}">Saiba mais<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- Fim Como Funciona -->
                
                <!-- Serviços -->
                <div class="servicos">
                    <div class="mesclar">
                        <h3>Serviços para você</h3>
                        <p>Conheço abaixo os tipos de serviços que a Uber oferece para seus usuários!</p>
                        <a href="{%url 'uber:servicos'%}">Saiba mais<i class="fas fa-angle-right"></i></a>
                    </div>


                    {%include 'uber/parciais/ser_cat.html'%}
                    </div>
                    {%include 'uber/parciais/ser_eats.html'%}
                    </div>
                    {%include 'uber/parciais/ser_mob.html'%}
                    </div>


                </div>
                <!-- Fim Serviços -->
                
                <!-- Citação -->
                <blockquote class="citacao bg_verde">
                    <p>"Comentário de alguém super importante sobre a Uber..."</p>
                    <cite>Tal Pessoa, idade, o que faz</cite>
                </blockquote>
                <!-- Fim Citação -->
                
                <div class="botoes">
                    <a href="{%url 'uber:register'%}" class="botao_cadastro">
                        <span>Cadastre-se como Passageiro</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                    <a href="{%url 'uber:registerMoto'%}" class="botao_cadastro">
                        <span>Cadastre-se como Motorista</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                
            </main>
            <!-- Fim Conteúdo Principal -->
            
                 
            {%include 'uber/parciais/footer.html'%}
        </div>
    
    </body>
</html>