
{%load static%}

  {%include 'uber/parciais/head.html'%}
  
    
    <title>Uber Brasil - Cadastro</title>


<body onload="criarModal()" class="bg-dark pt-5 pb-5">
    <!-- Container -->
    <div class="container bg-light">
        <div class="row p-5">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">Cadastro de Motorista</h1>
                    <p class="lead">Trabalhe conosco, faça parte de nossa equipe de motoristas</p>
                    <hr class="my-4">
                    <p>Preencha as informações corretamente para começar a atuar como motorista Uber</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
               
        <!-- formulario -->

        {%include 'uber/parciais/formulario.html'%}

        <!-- modal -->
        {%include 'uber/parciais/modal.html'%}
        </div>
        <!-- Fim Container -->
    </div>
    <!-- Bootstrap Bundle and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- Arquivo JS -->
    <script src="{%static 'uber/js/script.js'%}"></script>

</body>

</html>
