body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 10px;
}

.button:hover {
  background-color: #45a049;
}